
/* Estils per al cos de la pàgina */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

/* Estils per a la barra de navegació */
nav {
  background-color: #ae6f4b;
  text-align: center;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-weight: bold;
  border-radius: 8px;
}

nav ul li a:hover {
  background-color: #eeb883;
  color: black;
}

/* Estils per als títols */
h1 {
  text-align: center;
  color: #8c390d;
}

h2 {
  text-align: center;
  color: #8c390d;
}

/* Estils per a la targeta de la pregunta */
.card {
  background-color: #f3f4f6;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
  max-width: 475px; /* Amplada màxima de la targeta */
  margin: 0 auto; /* Centrar la targeta */
}


